# SPDX-FileCopyrightText: (c) 2020 Western Digital Corporation or its affiliates,
#                             Arseniy Aharonov <arseniy@aharonov.icu>
#
# SPDX-License-Identifier: MIT

*.pyc
.gitlog
.idea
*.ncb
*.suo
*.vcproj.*
*.json
*.pdb
*.sln
*.vcproj
**/output/*
**/logs/*
**/ide/*
*.si4project*
