# SPDX-FileCopyrightText: (c) 2020 Western Digital Corporation or its affiliates,
#                             Arseniy Aharonov <arseniy@aharonov.icu>
#
# SPDX-License-Identifier: MIT

# Git artifacts
.gitlog

# Python artifacts
*.pyc

# IDEA files (e.g PyCharm)
.idea

# Framework artifacts/output-directories
**/output/**
**/logs/**
**/ide/**
