# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Regression

on:
  push:
    branches: [master, develop]
    paths-ignore: ['docs/**', '*.md']
  pull_request:
    branches: [master]
    paths-ignore: ['docs/**', '*.md']

jobs:
  framework-regression:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2016, windows-latest]
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]
  
    steps:
    
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python 2.7 dependencies
      if: ${{ matrix.python-version == 2.7 }}
      run: |
        pip install mock==1.0.1

    - name: Install common dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip freeze > requirements.txt
        pip install -r requirements.txt
        
    - name: Run Framework tests
      run: |
        python -m unittest discover -v -s ./tests -t . -p "test_*.py"
        
    - name: Run STAT-Mock tests
      run: |
        python makestat.py -g
      working-directory: ./lib/tests
 
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
